* {
    box-sizing: border-box;
}

body, #main {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    inline-size: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 16px;
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard SE", "Comic Neue", "Papyrus", casual, cursive, ui-sans-serif;
    background: rebeccapurple;
    overflow-x: hidden;
}

main {
    display: flex;
    padding-block: 1rem;
    inline-size: 100%;
    flex-direction: column;
    place-items: center;
    flex-grow: 1;
}

footer {
    display: flex;
    padding-block: 2rem;
    inline-size: 100%;
    flex-direction: column;
    place-items: center;
}

footer a {
    margin-block-start: 0.4em;
    font-size: 1.2em;
    color: teal;
}

.blingo-clicker {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    flex-grow: 5;
    inline-size: 100%;
    block-size: 100%;
}

.blingo {
    display: flex;
    place-items: center;
    place-content: center;
    flex-grow: 5;
    inline-size: 100%;
    block-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.blingo > img {
    width: 10rem;
    transition: transform 0.8s linear;
}